:root {
    --black: #1f1f1f;
    --white: #d9dadc;
    --gray: #bebcbb;
    --red: #cd3d0f;
    --lightblue: #3a6de7;
    --dark_blue: #161c3b;
}
body {
    font-family: 'Roboto', sans-serif;
}
.myBg_dark_blue {
    background-color: var(--dark_blue);
}
.myBg_light_gray {
    background-color: var(--gray);
}
.myBg_black {
    background-color: var(--black);
}
.myBg_light_blue {
    background-color: var(--lightblue);
}
.myBg_red {
    background-color: var(--red);
}
.big_txt {
    font-size: 2.5rem;
    font-weight: 400;
}
.small_txt {
    font-size: 0.9rem;
}
.myBtn {
    border: none;
    border-radius: 20px;
    padding:.4rem 1rem ;
}
nav button.myBtn:hover {
    outline: 2px solid black;
    outline-offset: 2px;
}
#jumbo button.myBtn:hover, #jumbo_2 button.myBtn:hover {
    outline: 2px solid var(--red);
    outline-offset: 2px;
}
#carousel button.myBtn:hover, #products button.myBtn:hover {
    outline: 2px solid var(--lightblue);
    outline-offset: 2px;
}
#PS_plus button.myBtn:hover, #play_now button.myBtn:hover {
    outline: 2px solid var(--white);
    outline-offset: 2px;
}

/* Header  */
.logo img {
    width: 70px;
}

/* NAVBAR  */
nav li {
    list-style: none;
}
nav a.nav-link.dropdown-toggle {
    color: black;
}
nav a.nav-link.dropdown-toggle:hover {
    color: var(--lightblue);
}
img.chev_blue {
    display: none;
}
nav a.nav-link.dropdown-toggle:hover img.chev_blue {
    display: block;
}
nav a.nav-link.dropdown-toggle:hover img.chev_gray {
    display: none;
}
nav a.nav-link.dropdown-toggle::after {
    display: none;
}
nav i {
    color: gray;
    font-size: 12px;
}
nav a.nav-link.dropdown-toggle:hover i {
    color: var(--lightblue);
}

/* Main  */
#jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center top;
    min-height: 600px;
}
#cards div.game_card img {
    transition: all 0.5s;
}
#cards div.game_card img:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 8px 10px gray;
}
.active_card {
    border: 2px solid var(--lightblue);
    padding: 3px;
}
#carousel p.text-primary {
    margin-bottom: 0;
}
.prod_carousel div.text-center {
    opacity: 0.6;
    transition: all 0.3s;
}
.prod_carousel div.text-center:hover {
    opacity: 1;
    border-bottom: 2px solid var(--lightblue) ;
    cursor: pointer;
}
#carousel p.text-secondary, #products p.text-secondary, 
#sales p.text-secondary {
    font-size: 1.2rem;
}
#jumbo_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    min-height: 600px;
}
#nuove-uscite img.img-fluid {
    transition: all 0.5s;
}
#nuove-uscite img.img-fluid:hover {
    transform: scale(1.07);
    cursor: pointer;
}
.ps_plus_logo img {
    width: 50%;
}
.ps_now_logo img {
    width: 50%;
}
#sales div.row img {
    transition: all 0.5s ;
}
#sales div.row img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.social_container {
    width: 92%;
    margin: 0 auto;
}
.social_container img {
    transition: all 0.5s;
}
.social_container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* FOOTER  */

img.ps_footer {
    width: 120px;
}
img.lang_globe {
    width: 20px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: var(--gray);
}
footer ul li {
    list-style: none;
}
p.disclaimer {
    font-size: 0.8rem;
}
p.disclaimer a {
    text-decoration: underline;
}

/* MEDIA QUERIES  */

@media screen and (min-width:768px) {
    #PS_plus {
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 90%;
    }
    #play_now {
        background-image: url(../img/ps-now-april-featured-image-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 90%;
    }
    div.prod_carousel img {
        width: 70%;
    }
    .social_container {
        width: 75%;
    }
}
@media screen and (min-width:992px) {
    .social_container {
        width: 50%;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        width: 100vw;
        top: 45px;
        left: -104%;
        border-top: none;
    }
   
}

@media screen and (min-width:1200px) {
    #play_now {
        height: 500px;
    }
    #play_now div.row p {
        line-height: 40px;
        font-size: 1.2rem;
    }
}